
/* colors */
$primary-color               : #720435;
$secondary-color             : #CDB8A5;
$secondary-color-faded       : #CDB7A5;
$primary-bg-color            : #42031E;

/* font sizes */
$font-x-big : 20px;
$font-big : 18px;
$font-medium : 16px;
$font-small : 14px;
$font-x-small : 8px;
$font-sm-10 :10px;
